<%= form_with(model: device_pre_test, local: true) do |form| %>
  <% if device_pre_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device_pre_test.errors.count, "error") %> prohibited this device_pre_test from being saved:</h2>

      <ul>
      <% device_pre_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :device_pre_test_date %>
    <%= form.date_select :device_pre_test_date, id: :device_pre_test_device_pre_test_date %>
  </div>

  <div class="field">
    <%= form.label :repair_order_id %>
    <%= form.text_field :repair_order_id, id: :device_pre_test_repair_order_id %>
  </div>

  <div class="field">
    <%= form.label :test_id %>
    <%= form.text_field :test_id, id: :device_pre_test_test_id %>
  </div>

  <div class="field">
    <%= form.label :pre_test_condition %>
    <%= form.text_field :pre_test_condition, id: :device_pre_test_pre_test_condition %>
  </div>

  <div class="field">
    <%= form.label :pre_test_notes %>
    <%= form.text_field :pre_test_notes, id: :device_pre_test_pre_test_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
